<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css" />
    <title>Game Duos</title>
</head>
<body>
    <div class="container">
        <div class="container__item landing-page-container">
            <div class="content-wrapper">
                <header class="header"> 
                    <div class="menu-icon header__item">
                        <span class="menu-icon__line"></span>
                    </div>
                    <h1 class="heading header__item">LOGO</h1>
                    <ul class="social-container header__item">
                        <li class="social__icon social__icon--fb">
                            <img src="https://place-hold.it/30x30" alt="facebook">
                        </li>
                        <li class="social__icon social__icon--google">
                            <img src="https://place-hold.it/30x30" alt="google">
                        </li>
                        <li class="social__icon social__icon--naver">
                            <img src="https://place-hold.it/30x30" alt="naver">
                        </li>
                    </ul>
                </header>
                <p class="coordes">N 49º 16' 37.173"  /  W  0º 42' 11.30"</p>
                <div class="ellipse-container">
                    <h2 class="greeting">GameDuos</h2>
                    <div class="ellipse ellipse__outer--thin">
                        <div class="ellipse ellipse__orbit"></div>
                    </div>
                    <div class="ellipse ellipse__outer--thick"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>