<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <title>인증하기 - Game Duos</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/certification.css}"/>
</head>
<body>
<div th:replace="layout/header::header"></div>
<!-- middle area -->
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
        <div th:replace="layout/myPage/myPage_left_menu::left_menu"></div>
        <div class="middle-content-wrapper">
            <div class="middle-content">
                <div class="form-wrapper">
                    <div class="ui segment">
                        <h2 class="ui left floated header">인증 하기</h2>
                        <div class="ui clearing divider"></div>
                        <form class="ui form">
                            <div class="field">
                                <label>추천 코드</label>
                                <input type="text" id="referralCode" placeholder="추천 코드를 입력해주세요.">
                            </div>
                            <div class="field">
                                <label>닉네임</label>
                                <input type="text" id="nickname" placeholder="사용 할 닉네임을 입력해주세요.">
                                <!-- error -->
                                <div class="ui negative message" id="nicknameValidationError">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        닉네임 양식을 지켜주세요.
                                    </div>
                                    <p>닉네임은 특수문자와 공백없이 최대 8글자(영문 16자)입니다.</p>
                                </div>
                                <div class="ui negative message" id="nicknameDuplicationError">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        해당 닉네임은 이미 사용 중입니다.
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="hidden">
                                    <label>I agree to the Terms and Conditions</label>
                                </div>
                            </div>
                        </form>
                        <div class="ui hidden divider"></div>
                        <button class="ui positive button" id="certificate">
                            인증
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/myPage/myPageBase.js}"></script>
<script th:src="@{/js/basic.js}"></script>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/myPage/certification.js}"></script>
<script>
    activeMenu('certificationMenu');
</script>
</html>

