<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <title>추천코드 생성 - Game Duos</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />q
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_base.css}" />
    <link rel="stylesheet" th:href="@{/css/myPage/certification.css}" />
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
        <div th:replace="layout/myPage/myPage_left_menu::left_menu"></div>
        <div class="middle-content-wrapper">
            <div class="middle-content">
                <div class="ui container">
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                 사용 가능 한 추천 코드
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="referralCode : ${referralCodeList}">
                            <td th:text="${referralCode.referralCode}"></td>
                            <td th:text="${referralCode.createdDate} ? ${#temporals.format(referralCode.createdDate,'yyyy-MM-dd HH:mm')} : ${referralCode.createdDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Pagination -->
                <button class="positive fluid ui button" id="insert">추천 코드 생성</button>
            </div>
        </div>
    </section>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/myPage/myPageBase.js}"></script>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/basic.js}"></script>
<script th:src="@{/js/myPage/makeReferralCode.js}"></script>
<script>
    activeMenu('referralCodeMenu');
</script>
</html>

