<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script src="https://kit.fontawesome.com/d22a341da8.js" crossorigin="anonymous"></script>
    <link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <title>마이 페이지 - Game Duos</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/levelUp.css}" />
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}" />
    <meta name="description" content="게임을 이용하는 유저들의 만남의 장이 될 수 있게
    매칭 시스템, 커뮤니티 등을 제공합니다.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Game Duos-마이 페이지">
    <meta property="og:description" content="눈치 볼 필요없이 게임 같이 할 사람 구하자!">
    <meta property="og:image" content="http://">
    <meta property="og:url" content="https://GameDuos.com">
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
        <div class="left-menu-wrapper">
            <div class="left-menu">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header active">내 정보</div>
                        <div class="menu">
                            <a class="item" href="/myPage">내 정보 조회</a>
                            <a class="item">정보 수정</a>
                            <a class="item">회원 탈퇴</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">매칭 정보</div>
                        <div class="menu">
                            <a class="item">나의 매칭정보</a>
                            <a class="item">매칭정보 수정</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">포인트</div>
                        <div class="menu">
                            <a class="item">포인트 조회 및 사용내역</a>
                            <a class="item" href="/myPage/referralCode">인증코드 발급</a>
                            <a class="item active" href="/myPage/levelUp">인증코드 사용</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">내 게시물</div>
                        <div class="menu">
                            <a class="item">내가 쓴 게시물</a>
                            <a class="item">준비 중</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-content-wrapper">
            <div class="middle-content">
                <button class="positive ui button" id="insert">추천 코드 생성</button>
                <div id="mainHide">
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                 사용 가능 한 추천 코드
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="referralCode : ${referralCodeList}">
                            <td th:text="${referralCode.referralCode}"></td>
                            <td th:text="${referralCode.createdDate} ? ${#temporals.format(referralCode.createdDate,'yyyy-MM-dd HH:mm')} : ${referralCode.createdDate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Pagination -->
            </div>
        </div>
    </section>
</div>
<div th:replace="layout/footer::footer"></div>
</body>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#insert').click(function () {
        $.ajax({
            url: "http://localhost:8080/api/referralCode",
            type: "POST",
            success: function () {
                alert('생성 성공!');
                location.href = '/myPage/referralCode';
            },
            error: function () {
                alert('생성 실패!');
            }
        });
    });
</script>