<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <title>마이 페이지 - Game Duos</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/userPoint.css}"/>
</head>
<body>
<div th:replace="layout/header::header"></div>
<!-- middle area -->
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
        <div th:replace="layout/myPage/myPage_left_menu::left_menu"></div>
        <div class="middle-content-wrapper">
            <div class="middle-content">
                <div class="ui very padded segment">
                    <div class="static-wrapper">
                        <div class="ui huge teal statistic">
                            <div class="label">
                                <span th:text="${userInfo.getNickName()}"></span> 님의 총 Point
                            </div>
                            <div class="value" >
                                <img src="https://semantic-ui.com/images/avatar/small/joe.jpg"
                                     class="ui circular inline image">
                                <span th:text="${userTotalPoint}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui message">
                    <div class="header">
                        <span th:text="${userInfo.getNickName()}"></span> 님의 포인트는 아래 활동으로 적립됩니다.
                    </div>
                    <ul class="list">
                        <li>로그인</li>
                        <li>게시글 작성</li>
                        <li>댓글 작성</li>
                    </ul>
                </div>
                <div class="ui message">
                    <div class="header">
                        포인트는 아래 활동에 쓰일수 있습니다.
                    </div>
                    <ul class="list">
                        <li>지인 초대를 위한 인증 코드 생성</li>
                        <li>개인 정보 수정</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/myPage/myPageBase.js}"></script>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/basic.js}"></script>
<script>
    activeMenu('userPointMenu');
</script>
</html>