<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <title>마이 페이지 - Game Duos</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_base.css}"/>
    <link rel="stylesheet" th:href="@{/css/myPage/certification.css}"/>
</head>
<body>
<div th:replace="layout/header::header"></div>
<!-- middle area -->
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
        <div th:replace="layout/myPage/myPage_left_menu::left_menu"></div>
        <div class="middle-content-wrapper">
            <div class="middle-content">
                <div class="form-wrapper">
                    <div class="ui segment">
                        <h2 class="ui left floated header">회원 탈퇴</h2>
                        <div class="ui clearing divider"></div>
                        <form class="ui form">
                            <div class="one field">
                                <div class="ui red message">
                                    <div class="header">회원 탈퇴 시 아래의 데이터가 영구 삭제됩니다.</div>
                                    <ul class="list">
                                        <li>메일 연동 회원 정보</li>
                                        <li>회원 포인트</li>
                                        <li>게임 매칭 정보</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="ui fluid red button" id="delete">
                                삭제
                            </button>
                        </form>
                        <form action="#" id="logout" th:action="@{/logout}" method="post">
                            <input class="ui fluid button" type="submit" value="Logout" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div th:replace="layout/footer::footer"></div>

<script th:src="@{/js/myPage/myPageBase.js}"></script>
<script th:src="@{/js/basic.js}"></script>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/myPage/userWithdrawal.js}"></script>
<script>
    activeMenu('userWithdrawalMenu');
</script>
</body>
</html>
