<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--footer-->
<div th:fragment="footer">
    <footer th:fragment="footer">
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class="four wide column">
                        <h4 class="ui inverted header">Contact Us</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item"><button class="ui circular twitter icon button">
                                <i class="twitter icon"></i>
                            </button>Game Duos Twitter</a>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <h4 class="ui inverted header">Game Duos</h4>
                        <p>버그 제보 및 피드백은 트위터/메일을 이용해주세요.</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <img src="#" class="ui centered mini image">
                <div class="ui horizontal inverted small divided link list">
                    <span class="item">gameduosdev@gmail.com</span>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--/footer-->
</html>