<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!--footer-->
    <div th:fragment="heroMatchingFooter">
        <footer th:fragment="heroMatchingFooter">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    <div class="ui stackable inverted divided grid">
                        <div class="four wide column">
                            <h4 class="ui inverted header">Contact Us</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item"><button class="ui circular twitter icon button">
                                    <i class="twitter icon" style="color: white"></i>
                                </button>Game Duos Twitter</a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <h4 class="ui inverted header">Game Duos</h4>
                            <p>비영리적 목적으로 만들어진 컨텐츠이며 영웅 이미지의 출처는 https://playoverwatch.com 입니다. </p>
                            <p>버그 제보 및 피드백은 트위터/메일을 이용해주세요.</p>
                            <p>오버워치 망하지마ㅠ</p>
                        </div>
                    </div>
                    <div class="ui inverted section divider"></div>
                    <div class="ui horizontal inverted small divided link list">
                        <span class="item">gameduosdev@gmail.com</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--/footer-->
</html>