<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/board/semanticBoardDetail.css}"/>
    <title th:text="${board?.title}"></title>
</head>
<body>
<!--header-->
<!--body-->
<div th:replace="layout/header::header"></div>
<!-- middle area -->
<div class="middle-area-container">
    <section class="sec1">
        <div class="intro"></div>
    </section>
    <section class="sec2">
<!--        <div class="left-banner-wrapper">-->
<!--            <div class="left-banner">-->
<!--            </div>-->
<!--        </div>-->
        <div class="boardContainer">
            <div id="mainHide">
                <div class="ui raised segment">
                    <div class="article">
                        <div class="article-header">
                            <div class="article-title">
                                <h1 id="board_title" th:text="${board?.title}"></h1>
                            </div>
                            <div class="article-meta">
                                <div class="article-meta-left">
                                    <div class="article-meta-item">
                                        <i class="user outline icon"></i>
                                        <span th:text="${boardUser.getNickName()}"></span>
                                    </div>
                                    <div class="divider"> /</div>
                                    <div class="article-meta-item">
                                        <i class="calendar outline icon"></i>
                                        <span id="article_date" th:text="${board?.createdDate}"></span>
                                    </div>
                                    <div class="divider"> /</div>
                                    <div class="article-meta-item">
                                        <i class="folder open outline icon"></i>
                                        <span id="article_type" th:text="${board?.boardType.value}"></span>
                                        &nbsp
                                        <span id="board_idx" th:text="${board?.idx}"></span>
                                    </div>
                                </div>
                                <div class="article-meta-right">
                                    <div class="article-meta-item">
                                        <i class="comment outline icon"></i>
                                        <span th:text="${commentInfoList.size()}"></span>
                                    </div>
                                    <div class="divider"> /</div>
                                    <div class="article-meta-item">
                                        <i class="heart outline icon"></i>
                                        <span th:text="${board.getLikesCnt()}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="article-content-wrap">
                            <div class="article-content" id="board_content" th:utext="${board?.content}"></div>
                        </div>
                        <div class="article-vote-box">
                            <div class="vote">
<!--                                <div class="ui labeled button" tabindex="0">-->
<!--                                    <div class="ui button" id="like">-->
<!--                                        <i class="heart icon"></i> <span>좋아요</span>-->
<!--                                    </div>-->
<!--                                    <a class="ui basic label">-->
<!--                                        <span th:text="${board.getLikesCnt()}"></span>-->
<!--                                    </a>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="article-footer-report">
                                <div class="article-footer-report-item">
<!--                                    <span id="postReport"><i class="shield alternate icon"></i>신고하기</span>-->
                                    <a th:if="${boardUser.getId()} == ${session.user.id}"
                                       th:href="'/board/editForm?idx='+${board.getIdx()}"><i
                                            class="edit outline icon"></i>수정하기</a>
                                </div>
                            </div>
                            <div class="article-footer-back">
                                <div class="ui animated button" tabindex="0" onclick="pageBack()">
                                    <div class="visible content">목록으로</div>
                                    <div class="hidden content">
                                        <i class="left arrow icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comments-->
                    <div class="ui divider"></div>
                    <div class="comments-container">
                        <div class="ui comments">
                            <h3 class="ui dividing header">댓글</h3>
                            <div class="comment" th:each="commentInfo : ${commentInfoList}">
                                <a class="avatar">
                                    <img src="https://place-hold.it/35x35">
                                </a>
                                <div class="content">
                                    <a class="author" th:href="'/board?idx='+${commentInfo.getCommentUserNickname()}"
                                       th:text="${commentInfo.getCommentUserNickname()}">닉넴</a>
                                    <div class="metadata">
                                        <input type="hidden" class="comment_id"
                                               th:value="${commentInfo.getComment().getId()}"/>
                                        <span class="date"
                                              th:text="${commentInfo.getComment().getCreatedDate()} ? ${#temporals.format(commentInfo.getComment().getCreatedDate(),'yyyy-MM-dd HH:mm')} : ${commentInfo.getComment().getCreatedDate()}"></span>
<!--                                        <div id="commentRating">-->
<!--                                            <i class="star icon"></i>-->
<!--                                        </div>-->
                                        <span th:if="${commentInfo.getComment().getUpdated() == 1}">(수정됨)</span>
                                    </div>
                                    <div class="text" th:if="${commentInfo.getComment().getDeleted() == 0}"
                                         th:text="${commentInfo.getComment().getContent()}"></div>
                                    <div class="text" th:if="${commentInfo.getComment().getDeleted() == 1}"
                                         style="color: darkgray ">
                                        <i class="trash alternate outline icon"></i> 삭제된 댓글입니다.
                                    </div>
                                    <div class="actions">
<!--                                        <a th:if="${commentInfo.getComment().getDeleted() == 0}" class="reply">답글 달기</a>-->
<!--                                        <a th:if="${commentInfo.getComment().getDeleted() == 0}" class="comment-report">신고하기</a>-->
                                        <a th:if="${commentInfo.getCommentUserId()} == ${session.user.id} and ${commentInfo.getDeleted() == 0}"
                                           class="edit">수정</a>
                                        <a th:if="${commentInfo.getCommentUserId()} == ${session.user.id} and ${commentInfo.getDeleted() == 0}"
                                           class="delete">삭제</a>
                                    </div>
                                </div>
                            </div>
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea id="comment_content" placeholder="300자 이내로 적어주세요."></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button" id="comment_insert">
                                    <i class="icon edit"></i> 댓글 달기
                                </div>
                                <div class="comments-refresh">
                                    <span id="commentsRefresh"><i class="sync alternate icon"></i>댓글 새로고침</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="to-the-up">
                    <div class="ui vertical animated button" tabindex="0" onclick="window.scrollTo(0,0);">
                        <div class="hidden content">맨 위로</div>
                        <div class="visible content">
                            <i class="arrow up icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-banner-wrapper">
            <div class="ui wide skyscraper test ad" data-text="Skyscraper"></div>
        </div>
    </section>
</div>
<!-- modal -->
<div class="ui mini modal">
    <div class="header">
        댓글 삭제하기
    </div>
    <div class="content">
        <p>댓글을 삭제하여도 댓글을 작성한 흔적은 남습니다.</p>
        <p>해당 댓글을 삭제하시겠습니까?</p>
    </div>
    <div class="actions">
        <div class="ui cancel button">취소</div>
        <div class="negative ui approve button" id="comment_delete">삭제</div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/basic.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/board/detail.js}"></script>

</html>

