<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}" />
    <title>권한이 없어요! - Game Duos</title>
</head>
<body>
<header th:replace="layout/errorHeader::errorHeader"></header>
<!--body-->
<section class="sec1">
    <div class="this-banner" style="background-color:white;background-image: url('https://http.cat/403.jpg'); background-repeat: no-repeat; background-position: center;">
    </div>
    <div class="error-article">
        <h2>접근 권한이 없어요!</h2>
        <h4>해당 페이지는 특정한 사람들만 이용할 수 있어요.</h4>
        <button class="fluid ui teal button"><a href="/myPage/certification">인증하러 가기</a></button>
        <div class="ui hidden divider"></div>
        <button class="fluid ui button" onclick="history.go(-1);">이전페이지로</button>
    </div>
</section>
<!--/body-->
<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/basic.js}"></script>
</html>