<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/basicHeadSemanticUI :: basicHeadSemanticUI"></div>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <title>Game Duos</title>
</head>
<body>
<header th:replace="layout/header::header"></header>
<!--body-->
<section class="sec1">
    <div class="banner"></div>
    </article>
</section>
<section class="sec2">
    <a href="/personalTest/ow/heroMatching"><img id="matchingStart" src="images/home/owButton.png"></a>
</section>
<section class="sec3">
    <div class="board">
        <div class="boardImg"></div>
        <div id="freeBoard"></div>
    </div>
    <div class="board">
        <div class="boardImg"></div>
        <div id="anotherBoard"></div>
    </div>
</section>
<!--/body-->
<div th:replace="layout/footer::footer"></div>
</body>
<script th:src="@{/js/mobileMenu.js}"></script>
<script th:src="@{/js/basic.js}"></script>
<script th:if="${user.getRole().getValue().equals('guest')}">
    $('body')
        .toast({
            message: '아직 인증을 하지 않으셨군요! 인증하시겠어요?',
            displayTime: 0,
            class: 'white',
            actions:	[{
                text: 'Yes',
                icon: 'check',
                class: 'teal',
                click: function() {
                    location.href=$(location).attr('protocol') +'//' + $(location).attr('host') + "/myPage/certification";
                }
            },{
                icon: 'ban',
                class: 'icon grey'
            },{
                text: '?',
                class: 'white',
                click: function() {
                    $('body').toast({message:'게임듀오즈를 이용하는 친구에게 추천 코드를 받아서 인증을 할 수 있어요!'});
                    return false;
                }
            }]
        })
    ;
</script>
</html>