<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<div class="contrain" id="js-constrain" href="/login"></div>
<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@mojs/player"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>