<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}" />
    <title>무엇인가 잘못되었어요.</title>
</head>
<body>
<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <img class="ui fluid image" src="https://http.cat/506.jpg">
            <h2 class="ui center aligned header">무엇인가 잘못되었네요. :(</h2>
            <h1 class="ui center aligned header"> 무엇을 하다가 이 페이지를 만났는지 개발자 메일로 보내주실 수 있을까요? ;)</h1>
            <h1 class="ui center aligned header">gameduosdev@gmail.com</h1>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>